.container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100vw; 
    height: 100vh; 
    text-align: center;
    background:#000000; 
}


.play-online-button {
    padding: 0.25rem; 
    border-width: 1px; 
    width:16rem;
    border-style: solid; 
    color: #ffffff; 
    border: 1px solid #ffffff;
    background-color: #000000; 
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    &:hover {
        color: #000000; 
        background-color: #ffffff; 
    }
}

.big-cell {
    width: 5.3rem; 
    height: 5.3rem; 
}

.small-cell {
    width:3.2rem;
    height:3.2rem;
}

.mid-cell {
    width:4rem;
    height:4rem;
}

.cell {
    border-width: 1px; 
    border-color: #ffffff; 
    background-color:#000000;
    color:#ffffff;
}

.status {
    color: #fff;
    height:1rem;
    margin:0.4rem 0;
}

.board-container {
    padding: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:16rem; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}

.mode-button {
    padding: 0.25rem; 
    border-width: 1px; 
    border-color: #ffffff; 
    width: 5.3rem; 
    color: #ffffff; 
    background-color: #000000; 
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 

    &:hover {
        color: #000000; 
        background-color: #ffffff; 
    }
}

.reset-button {
    padding: 0.25rem; 
    margin-top: 1.25rem; 
    border-width: 1px; 
    border-color: #000000; 
    border-style: solid; 
    width: 16rem; 
    background-color: #ffffff; 
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    &:hover {
        color: #ffffff; 
        background-color: #000000;
        border-color:#fff; 
    }
}